# MongoDB Credentials
MONGO_ROOT_USERNAME=admin
MONGO_ROOT_PASSWORD=admin123
MONGO_DATABASE=mydb

# MongoDB Connection URL for FastAPI
MONGODB_URL=mongodb://admin:your_secure_password_here@mongodb:27017
DATABASE_NAME=mydb